### venv ###
bin/
include/
lib/
pyvenv.cfg
Scripts

### ides ###
.idea/
.vscode/

### pyjunk ###
**/__pycache__/
**.egg-info
build/
testdb

### mac junk ###
**/.DS_Store

### secrets ###
secrets.properties
